@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth fonts like macOS */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  background-color: #0f172a;
}
